.footer{
    background-image: -webkit-linear-gradient(
            352deg
            ,#14a01d,#6dcf73);
    background-image: linear-gradient(
            98deg
            ,#14a01d,#6dcf73);
    color: #fff;
}


.subtitle{
    color: hsla(0,0%,100%,.6);
}
